@{
    ViewBag.Title = "Webinar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .td1 {
        padding-left:60px;
    }
</style>

<h2 class="td1">Webinar</h2>

<div  style="width:100%;height:100%">
    <div style="float:left; width:25%; height:100%; background-color:gold"  > 
        
        <h4 style="text-align:center;font-size:x-large" >Companies Add Show </h4>
</div>

    <div style="float:left; width:50%; height:100%; background-color:slategrey">  
        <h1 style="text-align:center;font-size:xx-large">Webinars Screen</h1>
    </div>


    <div style="float:right; width:25%; height:100%; background-color:blueviolet"><h4 style="text-align:center;font-size:x-large" >Companies Add Show</h4>
            </div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
