@{
    ViewBag.Title = "ComProfile";
}

<h2>Fill your Profile</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4 class="Section-title"><span>Send Us a Mesage</span></h4>
            <div class="space25"></div>
            <div class="space40"></div>
            <form class="contact-form">
                <table>
                          <tr> <td><h3>Introduce your Copmpany: </h3></td></tr>
                          <tr> <td>company name: </td><td> <input type="text" id="fname" name="fname" /> </td> </tr>
                          <tr> <td>Brief Profile: </td><td> <textarea rows="3" cols="30" id="objective" name="objective"></textarea> </td> </tr>
                   <tr> <td><h3>Location:</h3> </td></tr>
                    <tr>     
                                <td>Address 1: </td>
                              <td> <textarea rows="3" cols="30" id="objec" name="objective"></textarea> </td>
                        <br />
                   </tr>
                          <tr> <td>Address 2: </td>
                              <td> <textarea rows="3" cols="30"  name ="phone"/> 

                         

                          <tr> <td>City: </td><td> <input id="c_role" name="ejob" /> </td></tr>

                          <tr> <td>Country: </td><td> <input id="company"  name="ecompany"/> </td></tr>

                          <tr>
                              <td>State: </td>
                              <td>
                                 <input class="text-box" name="esmonth" /> 

                              </td>
                          </tr>
                          <tr>
                              <td>Contact Details: </td>
                          <tr> <td>Website: </td><td> <input class="text-box" name="education" /> </td></tr>
                          <tr> <td>Phone: </td><td> <input class="text-box" name="e_course" /> </td></tr>
                          <tr> <td>Email: </td><td> <input class="text-box" name="e_start_date" /> </td></tr>
                          
                      <tr><td><input type="submit" value="Done" /></td></tr>
                    </table>
</form>
            <br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>
        </div>
    </div>


<br />
<br />
<br />
<br />


