@{
    ViewBag.Title = "resumee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }



<style>
    #Main {
        margin-left:20%;
        color:white;
    }

    .table1 {
         padding-left: 50px;
        /*background-color: #F0F0F0;*/
    }

    table {
        /*border-style:solid;
      
        border-width:15px;
        border-color:black;*/
        padding: 70px;
        /*padding-left:200px;*/
        /*background-color: white;*/
        background-color: #F0F0F0;
    }
    .td1 {
        padding-left: 5px;
       padding-right: 5px;
        padding-top: 25px;
        padding-bottom:25px;
        }
    th {
    color:blue;
    font-size:medium;
    font-weight:500;
        border-style:outset;
        border-bottom-width:2px;
        border-bottom-color:gray;
    }

    td {
        /*border-style:solid;
        border-bottom-width:1px;
        border-bottom-color:gray;
        color:green;*/
         padding-top:15px;
        padding-left:85px;
        padding-right:85px;
        }
    hr {
        color: black;
    }
    legend {
    color:blue;
    font-size:xx-large;
    font-style:italic;
    /*padding-bottom:20px;*/
    }
    h1 {
        padding-left: 70px;
    }

    h2 {
        padding-left: 70px;
    }

    .div2 {
        padding-top: 20px;
    }
    .st {
    font-size:large;
    font-style:inherit;
    font-weight: bold;
    color:blue;
    }
    .st1 {
    font-size:large;
    font-style:inherit;
    font-weight: bold;
    color:gray;
    padding-left:80px;
    }

    .st4 {
    font-size:large;
    font-style:inherit;
    font-weight: bold;
    color:GrayText;
    padding-left:80%;
    }

    .p1 {
        padding-top: 20px;
        text-align: center;
        font-size: 50px;
    }
    .p2 {
        font-size: 30px;
    }
    .div3 {
        padding-left: 90px;
    }
    .hd {
        color:darkblue;
        font-size:x-large;
    }
</style>





<div class="body">

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="hd">Make Your Resume here</h3>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

<div class="page-head">
            <h3 class="st1">Personal Information </h3>
             
</div>
@*<div class="space80"></div>*@
<!-- Contact wrap -->
<div class="table1">
     <p class="st4">                      Step (1 of 4)</p>

    <div class="row">
        
            <div class="contact-form">





    @using (Html.BeginForm("EducationInfo","Resume"))
{
            <table>


                <tr>
                    <td class="st">First Name</td>
                    <td><input  type="text" name="fname" value="Fname"/></td>

                    <td class="st">Last Name</td>
                    <td><input  type="text" name="lname" value="Lname"/></td>
                </tr>
                <tr>
                    <td class="st">Email</td>
                    <td><input  type="email" name="email" value="Email@abc.com"/></td>
                    <td class="st">Date Of Birth</td>
                    <td><input  type="date" name="dob" value="Date Of Birth"/></td>
                </tr>
                <tr>
                    <td class="st">Gender</td>
                    <td><input type="text" name="gender" value="Date Of Birth" /></td>

                    <td class="st">Nationality</td>
                    <td><input type="text" name="nationality" value="Date Of Birth" /></td>
                </tr>
                <tr>
                    <td class="st">Religion</td>
                    <td><input type="text" name="religion" value="Date Of Birth" /></td>

                    <td class="st">Phone</td>
                    <td><input type="text" name="phone" value="Date Of Birth" /></td>
                </tr>
                <tr>
                    <td class="st">Email id</td>
                    <td><input type="text" name="mailid" value="Date Of Birth" /></td>
                    <td class="st">Nationality</td>
                    <td><input type="text" name="religion" value="Date Of Birth" /></td>
                </tr>

<tr>
    <td> </td>           
    <td> </td>           
    <td> </td>           

         <td><input type="submit" class="button-blue" name="next" value="Next" /></td>
                </tr>
            </table>
}
                            </div>
        </div>
        <div class="space25"></div>

    </div>
   
<div class="space80"></div>

    