@{
    ViewBag.Title = "PostResume";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



        <!-- Page-Head-->
        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Post Resume</h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- Page-Head-->

        <div class="space60"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 about-home">
                    <div class="col-md-12 no-padding">
                    </div>

                    <div class="col-md-12 no-padding clearfix media ">

                        <h2>Upload Your Resume Here</h2>
                        <!--===============uploaaaaaaaaaaaaaaaaaaddddddddddddddddd=================================-->

                        <form action="/Resume/save" method="post" enctype="multipart/form-data">

                            <h4>Upload Resume:</h4> <input type="file" name="image" /> <br />

                            <br />

                            <input type="submit" value="upload" />
                        </form>
                        <!--===============uploaaaaaaaaaaaaaaaaaaddddddddddddddddd=================================-->
                                        </div>
                    <div class="white-panel">

                </div>
</div>
                <div class="col-md-6 skills">
                    <h2 class="section-title"><span>Youcan also Create Your Resume Online</span></h2>
                    <p>If you don't have created your resume before you can create it here in some steps here..</p>
                    @Html.ActionLink("Make Online Resume", "Personal")
                    <div class="skiller col">
                    </div>
                </div>
            </div>
        </div>

        <div class="space80"></div>

