@{
    ViewBag.Title = "skills_expertise_resume";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    }
<style>
    #Main {
        margin-left:20%;
        color:white;
    }
</style>
<div id="Main">
    <form>
        <fieldset>
            <legend>Skills And Expertise</legend>
            <table>
                <tr>
                    <th>Skills</th>
                    <td><textarea cols="100" rows="8"></textarea></td>
                </tr>
                <tr>
                    <th>Expertise</th>
                    <td><textarea cols="100" rows="8"></textarea></td>
                </tr>
                
                <tr>
                    <td><a  href="~/Resume/EducationInfo"><input  type="button" name="back" value="Back"/></a></td>
                    <td><a  href="~/Resume/reward"><input  type="button" name="next" value="Next"/></a></td>
                </tr>
            </table> 

        </fieldset>
    </form>


    
</div>