<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
=
<body>
    <div class="body">


        <!-- Page-Head-->
        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>About Us</h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- Page-Head-->

        <div class="space60"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 about-home">
                    <div class="col-md-12 no-padding">
                        <h2 class="section-title"><span>Who we are</span></h2>
                    </div>

                    <div class="col-md-12 no-padding clearfix media ">
                        <img class="pull-left" src="~/images/logo.gif" alt="" />
                        <p>                            You can work anywhere in this global village at your desire time and can take salary according to your hard work and caliber.</p>
                    </div>
                    <div class="white-panel">
                        <p>It is a cool business working at the home, a peaceful environment where u can be free from the pressure of office and boss.</p>
                    </div>
                    <p> Here we are providing trustworthy chance to you to earn at home if you become Axactmoney member! You have to do some simple jobs like insertion ads on the Internet. There will be no difference of any experience it will need only hardworking</p>
                </div>

                <div class="col-md-6 skills">
                    <h2 class="section-title"><span>Your Skills</span></h2>
                    <p>With so many graduates now on the market, employers will look for evidence of skills and work experience, which will make you stand out from the crowd. Start gathering them now or work on what you've got so you are ready to impress recruiters.</p>
                    <div class="skiller col">
                        <ul id="skill">
                            <li><span class="expand html5"> <small><em>Teamwork:</em> 60%</small></span></li>
                            <li><span class="expand css3"> <small><em>Communication</em> 80%</small></li>
                            <li><span class="expand jquery"> <small><em>Leadership:</em> 70%</small></li>
                            <li><span class="expand photoshop"> <small><em>Confidence</em> 50%</small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="space80"></div>

        <!-- Team --><div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Contact Us</h3>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>

    <div class="space80"></div>

    <!-- Contact wrap -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="Section-title"><span>Send Us a Mesage</span></h4>
                <div class="space25"></div>
                <p>We aim to provide great customer service. For product inquiries, technical support, and legal questions, here are all the ways you can contact</p>
                <div class="space40"></div>
                <form class="contact-form">
                    <input type="text" class="
                           " placeholder="Your name..." />
                    <input type="text" class="form-control" placeholder="Your last name..." />
                    <input type="text" class="form-control" placeholder="Your Email..." />
                    <input type="text" class="form-control" placeholder="Contact no..." />
                    <textarea rows="15" class="form-control" placeholder="Your message..."></textarea>
                    <div class="space25"></div>
                    <button class="button-blue btn" type="button">Send Message</button>
                </form>
            </div>

            <!-- Sidebar -->
            <div class="col-md-4 sidebar">
                <div class="side-widget">
                    <h5><span>Testimonials</span></h5>
                    <div id="quoteslider">
                        <div class="quote-wrap">
                            <h6>Send Message to TEAM </h6>
                  @*          <p>Lorem ipsum dolor slo onsec  designs tueraliquet Morbi nec In Curabitur lreaoreet nisl lorem ipsum dolor slo onsec designs Morbi </p>*@
                            <div class="quote-author">
                                <div class="quote-author-img">
                                    <img src="~/images/TEAM.png" alt="" />
                                </div>
                                <h5>Online Job Shop <span class="dblock">Manager</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
    <!-- Contact wrap -->

    <div class="space80"></div>

</body>
</html>
