@{
    ViewBag.Title = "audioInterview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>audioInterview</h2>
<div  style="width:100%;height:100%">
    <div style="float:left; width:25%; height:100%; background-color:coral"  > 
        
        <h4 style="text-align:center;font-size:x-large" >Eligible Candidates </h4>
        <table >
            
            <tr>
                <th>Select</th>
                <th>Sr #</th>
                <th>Candidate ID</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>
                    <form>
                        <input  type="checkbox" />
                    </form>

                </td>
                <td>01</td>
                <td>Abdullah</td>
                <td>Selected</td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input  type="checkbox" />
                    </form>

                </td>
                <td>02</td>
                <td>Ehsaan</td>
                <td>Selected</td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input  type="checkbox" />
                    </form>

                </td>
                <td>03</td>
                <td>Salman</td>
                <td>Selected</td>
            </tr>

            <tr>
                <td>
                    <form>
                        <input  type="checkbox" />
                    </form>

                </td>
                <td>04</td>
                <td>Tassawer</td>
                <td>Pending</td>
            </tr>

            <tr><td><button type="submit">Submit</button></td></tr>
        </table>

</div>

    <div style="float:left; width:50%; height:100%; background-color:mediumpurple; border:5px solid black">  
        <h1 style="text-align:center;font-size:xx-large">Audio Interview Screen</h1>
    
    
    </div>


    <div style="float:right; width:25%; height:100%; background-color:hotpink"><h4 style="text-align:center;font-size:x-large" >Selected Candidate</h4>
            </div>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
