@{
    ViewBag.Title = "ViewJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .td1 {
        padding-left:60px;
    }
</style>


<h2>ViewJobs</h2>
<table >
    <tr>
        <th> View Jobs </th>
    </tr>

    <tr>
        <td class="td1"><b>Area</b></td>
        <td class="td1">
            <select>
  <option value="volvo">Punjab</option>
  <option value="saab">Khayber Pakhtun khawan</option>
  <option value="mercedes">Balochistan</option>
  <option value="audi">Sindh</option>
</select></td>
    </tr>
    
    <tr>
        <td class="td1"><b>Category</b></td>
        <td class="td1">
            <select>
  <option value="volvo">Computer Science</option>
  <option value="saab">Medical</option>
  <option value="mercedes">Electrical</option>
  <option value="audi">Mechanical</option>
  <option value="mercedes">Clerk</option>
  <option value="audi">Others</option>
</select></td>
    </tr>
    
    <tr>
        <td class="td1"><b>Salary</b></td>
        <td class="td1">
            <select>
  <option value="volvo">10000</option>
  <option value="saab">10000-20000</option>
  <option value="mercedes">20000-30000</option>
  <option value="audi">30000-40000</option>
  <option value="mercedes">40000-50000</option>
  <option value="audi">50000-70000</option>
  <option value="mercedes">70000-90000</option>
  <option value="audi">More Than 90000</option>
</select></td>
    </tr>
</table>


<table>

            <tr>
                <td class="td1" ><strong>ID </strong></td> 
                <td class="td1"><strong>Job Title </strong></td>
                <td class="td1"><strong>Salary </strong></td>
                <td class="td1"><strong>Education </strong></td>
                <td class="td1"><strong>Experience</strong></td>



                </tr>
                <tr>
                    <td class="td1">
                <p>Abdullah</p>
            </td>
            <td class="td1">
                <p>Software Engineer</p>
            </td>
            <td class="td1">
                <p>10000</p>
            </td>
            <td class="td1">
                <p>MSC</p>
            </td>
            <td class="td1">
                <p>None</p>
            </td>
        </tr>
            <tr>
                    <td class="td1">
                <p>Tassawer</p>
            </td>
            <td class="td1">
                <p>Software Engineer</p>
            </td>
            <td class="td1">
                <p>10000</p>
            </td>
            <td class="td1">
                <p>MSC</p>
            </td>
            <td class="td1">
                <p>None</p>
            </td>
        </tr>
                <tr>
                    <td class="td1">
                <p>Ehsaan</p>
            </td>
            <td class="td1">
                <p>Software Engineer</p>
            </td>
            <td class="td1">
                <p>10000</p>
            </td>
            <td class="td1">
                <p>MSC</p>
            </td>
            <td class="td1">
                <p>None</p>
            </td>
        </tr>
                <tr>
                    <td class="td1">
                <p>Waqas</p>
            </td>
            <td class="td1">
                <p>Software Engineer</p>
            </td>
            <td class="td1">
                <p>10000</p>
            </td>
            <td class="td1">
                <p>MSC</p>
            </td>
            <td class="td1">
                <p>None</p>
            </td>
        </tr>
                <tr>
                    <td class="td1">
                <p>Salman</p>
            </td>
            <td class="td1">
                <p>IT Engineer</p>
            </td>
            <td class="td1">
                <p>100000</p>
            </td>
            <td class="td1">
                <p>MCS</p>
            </td>
            <td class="td1">
                <p>10 year</p>
            </td>
        </tr>


    </table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
